/* setting up the custom properties  */


:root{
    /* colors  */

--clr-dark:hsl(230,35%,7%);
--clr-light:hsl(231,77%,90%);
--clr-white:hsl(0, 0%, 100%);
    /* font sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font Families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* style reset  */

/* box sizing  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body{
    line-height: 1.5;
    color: var(--clr-white);
    min-height: 100vh;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: var(--clr-dark) ;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
}
/* main utility classes  */
.flex{
    display: flex;
    gap: var(--gap,1rem);
}

/* spacing modifier utility classs */
.flow > * + *{
  /* outline: 1px solid red; */
  margin-top: 1rem;
}
.grid{
    display: grid;
    gap: var(--gap,1rem);
}

.container{
    padding-inline: 2em;
    margin: auto;
    max-width: 80rem;  /* see .. i told you you are good enoughe*/
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
    }





/* colors utility classes  */

.txt-dark{color: var(--clr-dark);}
.txt-accent{color: var(--clr-light);}
.txt-white{color: var(--clr-white);}

.bg-dark{background-color: var(--clr-dark);}
.bg-accent{background-color: var(--clr-light);}
.bg-white{background-color: var(--clr-white);}

/* typography */


.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}


/* numbered titles  */

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
    
    
}

.numbered-title  span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl(0,0%,100%,.25);
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

/* .large-button{
  padding: 0 3em; /* this method can't be use as the link is an inlinie element so i will add*/
  /* border-radius: 50%;
  margin: 2rem; }*/

  .interactive-elements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .large-button{
    display: grid;
    position: relative;
    padding:0 1.2em;
    aspect-ratio: 1/1;
    place-items: center;
    border-radius: 50%;
    text-decoration: none;
    z-index:1 ; 
  }

  /* animation effects */

  .large-button::after{
    content: "";
    position: absolute;
    background: var(--clr-white);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    opacity: .2;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
    /* this is the stylin of the after circle it's set to tell the browser that the 
    after::button will look like that (the opacity transition of move etc) */
    }

  .large-button:hover::after,
  .large-button:focus::after{
    transform:scale(1.3)
  
  }

  .design_nav{
    background: rgba(91, 91, 91, 0.3); /* Use rgba to specify the color with opacity */
  }

  .primary-navigation{
    --gap:4rem;
    text-align: center;
    list-style: none;
    align-items: center;
    justify-content:space-evenly ;
    display: flex;
    padding: 0;
    margin: 0;
    background-color:  hsla(0, 0%, 0%, 0.29);
    backdrop-filter: blur(15px);
  

    /* a modern css property to postiton the items  */
    /* inset:  0 0 0 25%; */
    /* position: fixed; */
   /* background-color:  hsla(0, 0%, 0%, 0.29); */
  /* here is how to make a blur backgroudn */
   /* backdrop-filter: blur(15px); */
    /* z-index: 999; */
  }




  .primary-navigation  a{
    text-decoration: none;
    
  }

  .primary-navigation  a > span{
    font-weight: 700;
    margin-right: .5em;
    padding: 0;
  }
  
  
  .underline-indicators > *{
   padding: 2em 0;
   border-bottom: solid .2rem hsl(0,0%,100%,0);
  
  }

  .underline-indicators  >*:hover,
  .underline-indicators > *:focus{
  border-color:hsla(0,0%,100%,.2);
  ;

  }

  .underline-indicators > *.active
  ,.underline-indicators > [aria-selected = "true"]{
    border-color:hsl(0,0%,100%,1);
  }

  .underline-tabs > button{
    background: none;
    box-shadow: none;
    color:var(--clr-white);
    border: none;
    border-bottom: solid .2rem hsl(0,0%,100%,0);
    gap: var(--gap);
    cursor: pointer;
  }
  .underline-tabs > button:hover,
  .underline-tabs > button:focus{
    border-color:hsl(0,0%,100%,1);
  }


/* dot indicators */

.dot-indicators > *{
  padding: .4rem;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
}
.dot-indicators > *:hover,
.dot-indicators > *:focus{
  background: hsla(0,0%,100%,.2);;
}

/* number indicators */

.number-indicators > *:hover,
.number-indicators> *:focus{
  background: none;
  border: .2rem solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}


 /* //////////////////////////////
the home page
 /////////////////// */

 /* navigation bar */

